# Archivos de entorno y configuración
.env
.env.*
.DS_Store
venv/
entorno/
env/
.Python
.streamlit/secrets.toml

# Archivos temporales de Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Bases de datos y scripts que no deben subirse
*.db
*.sqlite
*.sqlite3
data/raw/ATM_condic_24_25.db
create_db.py
utils/db.py

# Excepción: este archivo sí se sube
!data/raw/base_atleti_streamlit.db
!data/auth/scouters_auth.db

# Logs
*.log
logs/

# Archivos del IDE
.idea/
.vscode/
*.swp
*.swo

# Archivos de instalación y build
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
