# Archivos de entorno y configuración
venv/
__pycache__/
*.pyc
.env
.DS_Store
.env.*
.streamlit/secrets.toml

# Bases de datos y archivos sensibles
*.db
*.sqlite
*.sqlite3
data/auth/*.db
data/raw/ATM_condic_24_25.db
# Ignorar archivos específicos de Python
utils/db.py
create_db.py

# No ignorar este archivo específico
!data/raw/base_atleti_streamlit.db



# Archivos de log
*.log
logs/

# Directorios y archivos específicos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
entorno/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Directorios y archivos específicos del IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
